<fieldset>
    <legend>Add Item:</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='item-title'>Title</label><br>
        <input class='form-control' id='item-title' type='text' name='title' value='{{ item.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Price</label><br>
        <input class='form-control' id='price' type='text' name='price' value='{{ item.price }}' />
    </div>

    <div class='form-group'>
    <label for='item-image'>Image</label><br/>
    <p class='text-muted'>Add image in the form of 'https://example.com/itemID.jpeg'</p>
    <textarea class='form-control' id='item-image' name='images' rows='5' />{{ "\n".join(item.images) }}</textarea>
    </div>

</fieldset>
