<a href='/'>Back to Home</a>
<!-- <div class='row'> -->
<div class='container'>
    <center>
        <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css'>
        <div>
            <!-- #class='col-xl col-xl-offset-6 col-xl'> -->
            <h1>{{item.title}}</h1>
            {% if item.created_at %}
            {% endif %}
            <h2>{{ item.price }}</h2>
            <p>
                <form method='POST' action='/owner/{{ item._id }}/edit'>
                    <button type='submit'>EDIT</button>
                </form>
                <form method='POST' action='/owner/{{ item._id }}/delete'>
                    <button type='submit'>DELETE</button>
                </form>
            </p>
            <hr>
        </div>
    </center>
</div>
