<!-- templates/shopping_cart.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Shopping Cart</h1>
<div class='row'>
    {% for item in items %}
        {% if item.in_shopping_cart == True %}
            <div class='col-md-3'>
                <h3><a href='/{{ item._id }}'>{{ item.title }}</a></h3>
                <small>{{ item.price }}</small>
            </div>
        {% endif %}
    {% endfor %}
    <a href='/shopping_cart/checkout' class='btn btn-default navbar-btn'>Proceed to Checkout</a>
</div>
{% endblock %}
