<!-- templates/shopping_cart.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Shopping Cart {{ amount }}</h1>
<div class='row'>
    {% for item in items %}
        {% if item.in_shopping_cart %}
            <div class='col-md-3'>
                {% for image in item.images %}
                    <img width="150" height=auto src="{{ image }}"></img>
                {% endfor %}
                <h3><a href='/{{ item._id }}'>{{ item.title }}</a></h3>
                <small>${{ item.price }}</small>
                <form method='POST' action='/shopping_cart/{{ item._id }}/delete_from_cart'>
                    <button type='submit'>REMOVE FROM CART</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class='container-fluid'>
    <div align="left">
        <a>Total: {{ amount }}</a>
    </div>
    <div align="right">
        <a href='/shopping_cart/checkout' class='btn btn-default navbar-btn'>Proceed to Checkout</a>
    </div>
</div>
{% endblock %}
